 @import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow:400,400i,600,600i,700,700i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow:400,400i,600,600i,700,700i|Oswald:200,300,400,500,600,700&subset=latin-ext,vietnamese');




table, th, td {
    border: 1px solid black;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
table {
    border-spacing: 5px;
}
th, td {
    padding: 15px;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}




 #container ul li{

  	list-style: none;
  	background-color: #D50000;
    color: white;
  	border: 1px solid White;
  	display: block;
  	height: 50px;
  	width: 280px;
  	text-align: center;
  	line-height: 50px;
  	border-radius: 20px;
  	cursor: pointer;
  	font-family: 'Raleway', sans-serif;

}
#img1
{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;  
}
#container{
	margin:0px;
	padding: 0px;    
}
#container ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#container ul li:hover{
	font-size: 20px;

}

body{
	margin: 0px;
	padding:0px;
}
a{
	text-decoration: none;
}
#frm{
	
	
	height: 400px;
	width: 500px;
     
	margin-left: 15%;
	margin-top: 7%;

}
label{
	font-family: 'Raleway',sans-serif;
	font-size: 25px;
	margin-bottom: 100px;
	margin-left: 100px;
	text-align: left;


}
h3{
	text-align: right;
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 25px;
	color: #1565C0;
	margin-right: 20px;
}
h5{text-align: right;
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 25px;
	color: #1565C0;
	margin-right: 20px;}
legend{
	font-size: 20px;
	font-family: 'Raleway',sans-serif;
	color: #00ACC1;
}